{% extends 'base.html.twig' %}

{% block body %}
    {% set classes = ["active", "success", "warning", "danger", "info"] %}
    <div class="container">
        <h1 class="title">Symfony App</h1>
        <h2 class="quote">List of Customers</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
        {% for customer in customers %}
        <tr class="{{ classes[loop.index % 5] }}">
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.address }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <footer class="footer">
        <div class="container">
            <div>
                <img src="{{ asset('bundles/app/images/hostingcrab-logo.png') }}" alt="Hostingcrab.com"/>
            </div>
            <div>by <a href="http://www.hostingcrab.com">HostingCrab.com</a></div>
        </div>
    </footer>
{% endblock %}
